# .DS_Store
.DS_Store

# Idea
.idea

# Editor
.vscode

#Power BI files
.pbix

#Ignore csv_files
*.csv

# Jupyter Checkpoints

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# config_files
database_config.py
gmail_config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

#webdrivers
geckodriver.log

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Node project dependencies and settings
node_modules/